body{
    background-image: url(contact.jpg);
    background-repeat: no-repeat;
    background-size: 1600px 750px;
}
form{
    border: solid 1px white hidden;
    width: 500px;
    padding-left: 10px;
    margin-left: 900px;
}
h1{
    color:red;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
label{
    color:white;
    font-size: 22px;
    font-weight: bold;

}
input{
    height:"26px";
    width:"400px";
    border-radius: 20px;
}
textarea{
    width:350px;
}
button{
    height: 50px;
    width: 150px;
    background-color: red;
    font-size:22px;
    color: white;
    font-weight: bold;
}
button:hover{
    background-color:violet;
}